* {
  font-family: 'Futura';
  font-weight: 100;
  font-size: 14px;
}

h1 {
  margin: 0 auto;
  text-align: center;
  width: 65%;
  font-size: 125px;
  color: #0B9C9C;
}

h2 {
  text-align: center;
  font-size: 27px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.line {
 	fill: none;
  	stroke: steelblue;
  	stroke-width: 2px;
}

.median_dot {
  	stroke: #000;
}

.h_wrapper {
  margin-left: 200px;
  margin-top: 50px;
}

.avg_dot {
  	stroke: #000;
}

.dem_avg_dot {
  	stroke: #000;
}

.rep_avg_dot {
  	stroke: #000;
}

.chart {
  text-align: center;
  margin: 0 auto;
}


.line_tooltip {
	position: absolute;
	width: 240px;
	height: 60px;
  padding: 5px;
	pointer-events: none;
  background-color: white;
  border-style: solid;
}

circle {
	fill: red;
}

body {
  background-color: #FFFBF7;
}

.line_container {
  width: 100%;
  overflow: hidden;
}

.charts {
  width: 40%;
  float: left;
}

.words {
  margin-left: 55%;
}

p {
  font-size: 19px;
}

.line_button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.wrapper {
  text-align: center;
}

#plot1 {
  display: inline;
}

#plot2 {
  display: inline;
}

#plot3 {
  display: none;
}

#plot4 {
  display: none;
}

#plot5 {
  display: inline;
}

button:focus {
  outline: none;
  border: none;
}

#con_avg_button {
  background: #f2f2f2;
}

#all_avg_button {
  background: #f2f2f2;
}

#top-title {
  margin-left: 180px;
  margin-top: 60px;
}

.footer {
  font-size: 10px;
  text-align: center;
}
